* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f5fc;
}

/*###################  Menu  ##########################*/

header {
  width: 100%;
  height: 5rem;
  background-color: #f2f5fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5.3rem;
  position: fixed;
  z-index: 100;
}

.logo {
  width: 12rem;
  height: 6.5rem;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  padding: 10px 25px;
  font-size: 1.1rem;
  margin: 0 5px;
  color: black;
  transition: font-weight 0.5s ease;
}

.nav-bar ul li a:hover {
  font-weight: bold;
}

@media screen and (max-width: 1320px) {
  header {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 1100px) {
  header {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
    color: black;
  }

  .nav-bar {
    position: absolute;
    height: 0px;
    top: 80px;
    background-color: #f2f5fc;
    left: 0;
    right: 0;
    width: 100vw;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 100vh;
    transition: 0.5s;
  }

  .banner-text.active,
  .banner-paragraph.active {
    display: none;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }

  .nav-bar ul li a:hover {
    color: black;
  }
}

@media screen and (max-width: 450px) {
  header {
    padding: 0 1rem;
  }
}

/*###################  Banner  ##########################*/

.banner-text {
  position: absolute;
  left: 8%;
  top: 31%;
  font-size: 2.5rem;
}

.banner-paragraph {
  position: absolute;
  left: 8%;
  top: 39%;
  font-size: 1.11rem;
  width: 33%;
  text-align: justify;
  line-height: 24px;
}

.banner-img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.banner-img.active {
  opacity: 1;
}

@media screen and (max-width: 1368px) {
  .banner-text {
    width: 50%;
  }

  .banner-paragraph {
    top: 44%;
  }
}

@media screen and (max-width: 1104px) {
  .banner-paragraph {
    top: 46%;
  }

  .banner-text,
  .banner-paragraph {
    left: 7%;
  }
}

@media screen and (max-width: 961px) {
  .banner-img {
    opacity: 0.7;
  }

  .banner-paragraph {
    width: 50%;
    font-weight: 600;
    top: 44.5%;
  }
}

@media screen and (max-width: 769px) {
  .banner-paragraph {
    top: 45%;
  }

  .banner-text {
    width: 60%;
  }
}

@media screen and (max-width: 645px) {
  .banner-text {
    width: 80%;
  }
  .banner-paragraph {
    top: 48%;
  }
}

@media screen and (max-height: 640px) {
  .banner-text {
    width: 90%;
  }
  .banner-paragraph {
    top: 42%;
  }
}

@media screen and (max-width: 528px) {
  .banner-paragraph {
    width: 74%;
  }
}

@media screen and (max-width: 481px) {
  .banner-text {
    width: 91%;
  }
  .banner-paragraph {
    width: 80%;
  }
}

@media screen and (max-width: 430px) {
  .banner-text {
    top: 21%;
    font-size: 2rem;
  }

  .banner-paragraph {
    top: 35%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 342px) {
  .banner-text {
    font-size: 1.7rem;
    top: 20%;
  }

  .banner-paragraph {
    font-size: 0.8rem;
    top: 36%;
  }
}

/*###################  Testimonials  ##########################*/
.testimonials-section,
.contact-section {
  padding-top: 6rem;
}

.testimonials-title,
.contact-title {
  text-align: center;
  font-size: 30px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
  flex-wrap: wrap;
  gap: 1rem;
}

figure.snip1192:hover {
  transform: scale(1.1);
}

figure.snip1192 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  transition: transform 0.3s ease;
  box-shadow: none !important;
}

figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}

figure.snip1192 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: 20px;
  opacity: 0.8;
  font-style: normal;
  color: black;
}

figure.snip1192 blockquote:before {
  top: 35px;
  left: 20px;
}

figure.snip1192 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}

figure.snip1192 .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

figure.snip1192 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}

figure.snip1192 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}

/*###################  Contact   ##########################*/
.contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 3rem;
}

.contact-container .left-box {
  width: 20rem;
  height: 15rem;
  border: 2px solid black;
  padding: 1rem 1rem;
}

.left-box h4 {
  padding-bottom: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container input {
  background: #f0f0f0;
  border: none;
  border-bottom: 2px solid #000000;
  box-shadow: none;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  height: 60px;
  line-height: 1.4;
  opacity: 1;
  padding: 10px 20px 10px 20px;
  width: 40vw;
  margin-bottom: 2rem;
}

.form-container input:focus {
  outline: none;
  border-bottom: 2px solid #4193ea;
}

.textarea {
  background: #f0f0f0;
  border: none;
  border-bottom: 2px solid #000000;
  box-shadow: none;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  height: 140px;
  line-height: 1.4;
  opacity: 1;
  padding: 10px 20px 10px 20px;
  width: 40vw;
}

.textarea:focus {
  outline: none;
  border-bottom: 2px solid #4193ea;
}

.sendBtn {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 39px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 13rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.4s ease;
}

.sendBtn:hover {
  background-color: #4193ea;
}

@media screen and (max-width: 1024px) {
  .form-container input,
  .textarea {
    width: 50vw;
  }

  .sendBtn {
    margin: 1.2rem auto 0 auto;
  }
}

@media screen and (max-width: 784px) {
  .contact-container .left-box {
    height: 9rem;
  }

  .form-container input,
  .textarea {
    width: 80vw;
  }
}

@media screen and (max-width: 620px) {
  .sendBtn {
    margin: 1.2rem auto 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .form-container input,
  .textarea {
    width: 92vw;
  }
}

@media screen and (max-width: 375px) {
  .form-container input,
  .textarea {
    width: 95vw;
  }
}

/*###################  Footer   ##########################*/
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  color: white;
  height: 20rem;
  margin-top: 1rem;
}

.footer-container h3 {
  padding-top: 3.5rem;
  padding-bottom: 0.3rem;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

.architecture p {
  padding-top: 0.5rem;
  width: 8rem;
  text-align: justify;
}

.reach-us ul li {
  text-decoration: none;
}

.reach-us ul li a,
.categories ul li a {
  color: white;
}

.reach-us ul,
.categories ul {
  padding-top: 0.5rem;
}

.footer-about,
.footer-categ,
.social-icons {
  padding-top: 0.8rem;
}

.reach-us ul li a:hover,
.categories ul li a:hover {
  color: #4193ea;
}

.reach-us ul li a,
.categories ul li a,
.social-icons i {
  transition: color 0.4s ease;
}

footer div > h3 {
  cursor: default;
}

.categories ul li a:hover {
  cursor: pointer;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}

.social-icons i:hover {
  cursor: pointer;
  color: #4193ea;
}

@media screen and (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 38rem;
  }

  .architecture p {
    width: auto;
  }

  .architecture,
  .reach-us,
  .follow-us,
  .categories {
    width: 20rem;
    text-align: center;
  }
}

@media screen and (max-width: 326px) {
  .architecture,
  .reach-us,
  .follow-us,
  .categories {
    width: 15rem;
    text-align: center;
  }

  .contact-container .left-box {
    width: 18rem;
  }
}
